<script lang="ts">
    const API_URL = `https://localhost:7189/`
    
    export default {

      data: () => ({
        adminMode: false,
        products: [],
        newPrice: null,
      }),

      created() {
        this.adminMode = window.location.search.includes("admin=true");
        
        this.fetchData()
        
        this.$hub.priceChanged =  this.onPriceChanged;
      },
    
      methods: {
        async fetchData() {
          const url = `${API_URL}Product`
          this.products = await (await fetch(url)).json()
        },
        onPriceChanged (productId, price) {
          let product = this.products.find(i => i.id == productId);
          Object.assign(product, { price })
        },
        async changePrice(id){
            let url = `${API_URL}Product/ChangePrice`
            url += `?productId=${id}&price=${this.newPrice}`;
            await fetch(url,{method:'PUT'});
        }
      }
    }
    </script>
    
    <template>
    <h1>Online Shop</h1>
    <div v-for="{ id, name, price, stock } in products" class="product-item">
        <div class="name">{{name}}</div>
        <div>Price: <span class="price">${{price}}</span></div>
        <div>Stock: {{stock}}</div>

        <div v-if="this.adminMode">
            <input v-model="newPrice" style="width:40px">
            <button @click="changePrice(id)">change price</button>
        </div>
    </div>

    <a class="target" href="?admin=true" target="_blank">enter admin mode</a>

</template>
    
    <style scoped>
    .product-item {
        height: 100px;
        border: 1px skyblue solid;
        margin: 4px;
        padding: 4px;
    }
    
    .product-item .name {
        font-size: large;
    }
    
    .product-item .price {
        color: red;
    }
    </style>
    